@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


.ghost {
	background: none;
	border: 2px solid #1f2f2f;
	color: #1f2f2f;
	border-radius: 3px;
}
.ghost-blue {
	background: none;
	border: 2px solid #50C8F0;
	color: #50C8F0;
	border-radius: 3px;
}
.ghost-green {
	background: none;
	border: 2px solid #2CC900;
	color: #2CC900;
	border-radius: 3px;
}
#input-name, #input-email {
	on:hover
}

.pad-small {
	padding: 1.25em;
}
.pad-med {
	padding: 2.5em;
}
.pad-big {
	padding: 5em;
}
.margin-small {
	margin: 1.25em;
}
.margin-med {	
	margin: 2.5em;
}
.margin-big {
	margin: 5em;
}

.margin-bot-big {
	margin-bottom: 5em;
}
.margin-bot-med {
	margin-bottom: 2.5em;
}
.margin-bot-small {
	margin-bottom: 1.25em;
}
.panel-ghost {
	background: rgba(0,0,0,0);
	border-top: 2px solid rgba(255,255,255,.25);
	border-radius: 5px;
}
.panel-dark {
	background: #3f4f5f;
	border-top: 2px solid rgba(255,255,255,.25);
}

#homepage.form {
	bottom: 0;
}
.fullwidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}




label { position: relative; top:0; left:0}

input#show, input#hide {
    display:none;
}

span#content {
    display: block;
    -webkit-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
    opacity: 0; 
    height: 0;
    font-size: 0;
    overflow: hidden;
}


input#show:checked ~ .show:before {
    content: ""
}
input#show:checked ~ .hide:before {
    content: "Hide"
}

input#hide:checked ~ .hide:before {
    content: ""
}
input#hide:checked ~ .show:before {
    content: "Show"
}
input#show:checked ~ span#content {
    opacity: 1;
    font-size: 100%;
    height: auto;
}
input#hide:checked ~ span#content {
    display: block;
    -webkit-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
    opacity: 0; 
    height: 0;
    font-size: 0;
    overflow: hidden;
}

form, .subscribe:hover>div {
    display: block;
}

.subscribe:hover>form {
    display: block;
}
.subscribe:active>form {
    display: block;
}
