@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


.ghost {
	background: none;
	border: 2px solid #1f2f2f;
	color: #1f2f2f;
	border-radius: 3px;
}
.ghost-blue {
	background: none;
	border: 1px solid #50C8F0;
	color: #50C8F0;
	border-radius: 3px;
}
.ghost-green {
	background: none;
	border: 2px solid #2CC900;
	color: #2CC900;
	border-radius: 3px;
}


.pad-small {
	padding: 1.25em;
}
.pad-med {
	padding: 2.5em;
}
.pad-big {
	padding: 5em;
}
.margin-small {
	margin: 1.25em;
}
.margin-med {	
	margin: 2.5em;
}
.margin-big {
	margin: 5em;
}

.margin-bot-big {
	margin-bottom: 7em;
}
.margin-bot-med {
	margin-bottom: 2.5em;
}
.margin-bot-small {
	margin-bottom: 1.25em;
}
.panel-ghost {
	background: scale-color($secondary-color, $saturation: 20%, $lightness: 0%, $alpha: -90%);
	border: 8px solid $white; // scale-color($success-color, $saturation: 0%, $lightness: 0%, $alpha: -50%);
	border-radius: 5px;
}
.panel-white {
    background: scale-color($secondary-color, $saturation: 20%, $lightness: 100%, $alpha: -20%);
    border: 8px solid $white; // scale-color($success-color, $saturation: 0%, $lightness: 0%, $alpha: -50%);
    border-radius: 5px;
}
.panel-footerstyle {
    background: scale-color($alert-color, $saturation: -100%, $lightness: -45%, $alpha: 0%);
    border: 8px solid $primary-color;
    color: $white;
}
.panel-alert-muted {
	background: scale-color($alert-color, $saturation: -30%, $lightness: -30%);
    border: none;
    
}
.panel-alert {
    background: $alert-color;
    border: none;
}
.panel-secondary {
    background: scale-color($secondary-color, $saturation: -30%, $lightness: -30%);
    border: none;
}
.panel-secondary-tweaked {
    background: scale-color($secondary-color, $saturation: -10%, $lightness: -40%, $alpha: -20%);
    border: none;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}
.panel-success-muted {
    background: scale-color($success-color, $saturation: -30%, $lightness: -30%);
    border: none;
}
.roundbot {
    border-radius: 0px 0px 20px 20px;
}


.fullwidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
.subscribe {display:none}
.ani
    {
    
    transition:height 2s;
    -moz-transition:width 2s; /* Firefox 4 */
    -webkit-transition:width 2s; /* Safari and Chrome */
    -o-transition:width 2s; /* Opera */
    display:block;
    }
.subscribe:checked + .ani{display: blocks; height: 400px;}

.footer {
    bottom: 0;
    height: auto;
    padding: 1em .5em 0em .5em;
    background: $topbar-bg-color; //scale-color($secondary-color,  $saturation: 20%, $lightness: -60%, $alpha: -80%);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
    max-width: initial;
    display: inline-block;
    border-top: 8px solid $primary-color; // scale-color($primary-color,  $saturation: 0%, $lightness: 0%, $alpha: -50%);
}
.footer-text {
    color: scale-color($primary-color, $lightness: 50%, $alpha: -30%);   
    font-size: .8em;
}
.reveal-modal>p {
    color: $white;
}
.slogan {
    font-family: $font-family-serif;
}
.social-icon {
  display: inline-block;
  background-size: 100%;
  width: 40px;
  height: 40px;
  text-indent: -999em;
  text-align: left;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.social-icon:hover {
  margin: -1px 0 1px;
  -moz-box-shadow: 0px 0px 4px 2px rgba(255,255,255,.75);
  -webkit-box-shadow: 0px 0px 4px 2px  rgba(255,255,255,.75);
  box-shadow: 0px 0px 4px 2px  rgba(255,255,255,.75); 
}
.footer-claim {
   position: relative;
   padding-top: 200px;
}
.shadowed {
    -webkit-filter: drop-shadow(0px 0px 1px rgba(0,0,0,1));

    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
.shadowed-weak {
    -webkit-filter: drop-shadow(0px 0px 2px rgba(0,0,0,.5));

    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
.shadowed-med {
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,.7));

    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
.shadowed-strong {
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,1));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
.backlight {
    -webkit-filter: drop-shadow(0px 0px 1px rgba(255,255,255,1));

    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
.backlight-weak {
    -webkit-filter: drop-shadow(0px 0px 2px rgba(255,255,255,.5));

    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
.backlight-med {
    -webkit-filter: drop-shadow(0px 0px 5px rgba(255,255,255,.7));

    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
.backlight-strong {
    -webkit-filter: drop-shadow(0px 0px 5px rgba(255,255,255,1));

    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
.backlight-blue {
    -webkit-filter: drop-shadow(0px 0px 3px rgba(80,200,240,1));

    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
.backlight-green {
    -webkit-filter: drop-shadow(0px 0px 3px rgba(44,201,0,1));

    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
.backlight-orange {
    -webkit-filter: drop-shadow(0px 0px 3px rgba(255,139,0,1));

    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.text-shadow {
       text-shadow: 1px 1px 1px #000,
             -1px -1px 1px #000,
             -1px 1px 1px #000,
              1px -1px 1px #000;
          }
.mega {
      font-size: rem-calc(75);
      font-weight: 900;
      color: #f1f2f2;
    
    }
.super { 
      font-size: rem-calc(55);
      color: #f1f2f2;
      font-family: $header-font-family;
      font-style: $header-font-style;
      
      font-weight: 700;
      line-height: $header-line-height;
      margin-bottom: $header-bottom-margin;
      margin-top: $header-top-margin;
      text-rendering: $header-text-rendering;

            }
.arrow-border {
width: 0; 
height: 0; 
border-top: 15px solid transparent;
border-bottom: 15px solid transparent; 
border-right:16px solid #7F7F7F; 
}
            
.arrow {
width:0;
height:0;
border-top:9px solid transparent;
border-bottom:9px solid transparent;
border-right:9px solid #A6A6A6;
position:relative;
bottom:9px;
left:4px;
}
.icon-large {
    width: 5em;
}
.icon-med {
    width: 2.5em;
}
.icon-small {
    width: 1em;
}

.icon-circle-fill {
    fill: scale-color($primary-color, $saturation: -20%, $lightness: 20%, $alpha: -100%);
}
.icon-circle-stroke {
    fill: rgba(255,255,255,1);
}
.icon-arrow {
    stroke: $primary-color;
    stroke-width: 40px;
}
.icon-circle:hover .icon-circle-stroke {
    fill: $primary-color;
}
.icon-circle:hover .icon-circle-fill {
    fill: $primary-color;
}
.icon-circle:hover .icon-arrow {
    stroke: #f1f2f2;
}
.icon-circle:active {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
     transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
     transition-property: transform;
 }

#modal-comingsoon-about {
  
    background: #122334; // url(../images/lifeward-birds-bg.jpg) no-repeat center center fixed; // lifeward-about-mike-and-vancouver-v1.3
    p { 
        font-size: 1em;
        font-weight: 300;  }
}
#modal-comingsoon-blog {
    box-sizing: border-box;
    background: url(../images/lifeward-vue-bg-2014-v1.5.jpg) no-repeat center center fixed; 
     text-color: #333;
}
#modal-signup {
    box-sizing: border-box;
    background: url(../images/lifeward-vue-bg-2014-v1.5.jpg) no-repeat center center fixed; 
}
#modal-comingsoon-contact {
    box-sizing: border-box;
    background: url(../images/lifeward-about-mike-and-vancouver-v1.3.jpg) no-repeat center center fixed;
}
#modal-about-photo {
    box-sizing: border-box;
    background: url(../images/papers.co-mr94-tree-walk-street-nature-mountain-air-1920x1080-fx2.jpg) no-repeat center center fixed;
}
