@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


.ghost {
	background: none;
	border: 2px solid #1f2f2f;
	color: #1f2f2f;
	border-radius: 3px;
}
.ghost-blue {
	background: none;
	border: 2px solid #50C8F0;
	color: #50C8F0;
	border-radius: 3px;
}
.ghost-green {
	background: none;
	border: 2px solid #2CC900;
	color: #2CC900;
	border-radius: 3px;
}


.pad-small {
	padding: 1.25em;
}
.pad-med {
	padding: 2.5em;
}
.pad-big {
	padding: 5em;
}
.margin-small {
	margin: 1.25em;
}
.margin-med {	
	margin: 2.5em;
}
.margin-big {
	margin: 5em;
}

.margin-bot-big {
	margin-bottom: 7em;
}
.margin-bot-med {
	margin-bottom: 2.5em;
}
.margin-bot-small {
	margin-bottom: 1.25em;
}
.panel-ghost {
	background: rgba(0,0,0,0);
	border-top: 2px solid rgba(255,255,255,.25);
	border-radius: 5px;
}
.panel-dark {
	background: #3f4f5f;
	border-top: 2px solid rgba(255,255,255,.25);
}


.fullwidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
.subscribe {display:none}
.ani
    {
    
    transition:height 2s;
    -moz-transition:width 2s; /* Firefox 4 */
    -webkit-transition:width 2s; /* Safari and Chrome */
    -o-transition:width 2s; /* Opera */
    display:block;
    }
.subscribe:checked + .ani{display: blocks; height: 400px;}

.footer {
    bottom: 0;
    height: auto;
    padding: 3em 2em 0em 3em;
    background: hsla(15,100,2,.8);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    display: inline-block;
    border-top: 1px solid hsla(15,100,1,.9);
}
.footer-text {
    color: scale-color($primary-color, $lightness: -50%);   
    font-size: .8em;
}
.social-icon {
  display: inline-block;
  background-size: 100%;
  width: 40px;
  height: 40px;
  text-indent: -999em;
  text-align: left;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.social-icon:hover {
  margin: -1px 0 1px;
  -moz-box-shadow: 0px 0px 4px 2px rgba(255,255,255,.75);
  -webkit-box-shadow: 0px 0px 4px 2px  rgba(255,255,255,.75);
  box-shadow: 0px 0px 4px 2px  rgba(255,255,255,.75); 
}
.footer-claim {
   position: relative;
   padding-top: 200px;
}
.shadowed {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

#modal-comingsoon-blog > p {
    text-color: #333;
}